#card-group {
  margin: 0px 10px 10px 10px
}

h2 {
  text-align: center;
  margin-top: 20px
}
#fav-bttn{
  margin-left: 10px
}

#buttons{
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

h5{
  text-align: center;
}