#macroInput {
  background-color: transparent;
  border: 0;  
  width: 40px;
  text-align: center;
  padding: 2px;
}

input:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}


.macroChart {
  width: 300px;
  float: right;
  margin-right: 25%;
}

.profList {
  margin-left: 25%;
  float: left
}
