#loginForm {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 700px;
  justify-content: center;
  align-items: center;
}

.button {
  display: block;
  width: 100%
}

#floatingInput1{
  margin-top: 30px;
}

#onClick {
  cursor: pointer;
  color: blue;
  text-decoration: underline
}

#loginPic{
  width: 500px;
  height: 700px;
  
}

#loginLayout{
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  left: 50%;
  height: 700px;
  margin-top: 100px;
  margin-right: -50%;
  transform: translate(-50%, 10%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}